In [ ]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 44 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 44.7 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=a7bdb5985830ce2cceb5d195bd880d50bf32793e30dbf640f17c8a05d0e65465
  Stored in directory: /root/.cache/pip/wheels/42/59/f5/79a5bf931714dcd201b26025347785f087370a10a3329a899c
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [ ]:
import pyspark
from pyspark import SparkContext
sc=SparkContext()

In [ ]:
nums=sc.parallelize([1,2,3,4])
nums
#nums.take(1)

ParallelCollectionRDD[6] at readRDDFromFile at PythonRDD.scala:274

In [ ]:
square=nums.map(lambda x:x+x).collect()
for num in square:
  print('%i' % (num))

2
4
6
8

In [ ]:
print("hello " + "world")

In [ ]:
import pyspark
from pyspark.sql import *
spark=SparkSession.builder.appName('stub1').getOrCreate()
data=[["hello"]]
columns=["name"]
df=spark.createDataFrame(data,columns)
#Ddf1=df.filter(lambda line:line.split())
df.show()
print(df.count)

In [ ]:
sc.stop()

In [ ]:
import pyspark
from pyspark import *
from pyspark.sql.types import *
spark=SparkSession.builder.appName('arithmetic').getOrCreate()
df=spark.read.text('/content/spark')
df.show()

+-----+
|value|
+-----+
|    1|
|    2|
|    3|
|    4|
|    5|
+-----+

In [ ]:
df.first()

Row(value='/*hiee ')

In [ ]:
df.take(3)

[Row(value='hiee '), Row(value='how '), Row(value='are ')]

In [ ]:

import pyspark
from pyspark.sql import *
from pyspark import *
from pyspark.sql.types import *
spark=SparkSession.builder.appName('practise1').getOrCreate()

In [ ]:
emp=[("Noori",1,40000,21),("Suhana",2,35000,22),("Sindhu",3,35000,23)]

In [ ]:
empcol=["EmpName","EmpID","Salary","branchid"]

In [ ]:
empDF=spark.createDataFrame(emp,empcol)

In [ ]:
empDF.show()

+-------+-----+------+--------+
|EmpName|EmpID|Salary|branchid|
+-------+-----+------+--------+
|  Noori|    1| 40000|      21|
| Suhana|    2| 35000|      22|
| Sindhu|    3| 35000|      23|
+-------+-----+------+--------+

In [ ]:
dep=[("CSE",11,22),("EEE",1,25),("ECE",13,21)]

In [ ]:
depcol=["DepName","DepID","branchid"]

In [ ]:
depDF=spark.createDataFrame(dep,depcol)
depDF.show()

+-------+-----+--------+
|DepName|DepID|branchid|
+-------+-----+--------+
|    CSE|   11|      22|
|    EEE|    1|      25|
|    ECE|   13|      21|
+-------+-----+--------+

In [ ]:
empDF.join(depDF).show()

+-------+-----+------+--------+-------+-----+--------+
|EmpName|EmpID|Salary|branchid|DepName|DepID|branchid|
+-------+-----+------+--------+-------+-----+--------+
|  Noori|    1| 40000|      21|    CSE|   11|      22|
|  Noori|    1| 40000|      21|    EEE|    1|      25|
|  Noori|    1| 40000|      21|    ECE|   13|      21|
| Suhana|    2| 35000|      22|    CSE|   11|      22|
| Sindhu|    3| 35000|      23|    CSE|   11|      22|
| Suhana|    2| 35000|      22|    EEE|    1|      25|
| Suhana|    2| 35000|      22|    ECE|   13|      21|
| Sindhu|    3| 35000|      23|    EEE|    1|      25|
| Sindhu|    3| 35000|      23|    ECE|   13|      21|
+-------+-----+------+--------+-------+-----+--------+

In [ ]:
empDF.join(depDF,empDF.EmpID==depDF.DepID,"inner").show()

+-------+-----+------+-------+-----+
|EmpName|EmpID|Salary|DepName|DepID|
+-------+-----+------+-------+-----+
|  Noori|    1| 40000|    EEE|    1|
+-------+-----+------+-------+-----+

In [ ]:
empDF.join(depDF,empDF.EmpID==depDF.DepID,"outer").show()

+-------+-----+------+-------+-----+
|EmpName|EmpID|Salary|DepName|DepID|
+-------+-----+------+-------+-----+
|  Noori|    1| 40000|    EEE|    1|
| Suhana|    2| 35000|   null| null|
| Sindhu|    3| 35000|   null| null|
|   null| null|  null|    CSE|   11|
|   null| null|  null|    ECE|   13|
+-------+-----+------+-------+-----+

In [ ]:
empDF.join(depDF,empDF.EmpID==depDF.DepID,"full").show()

+-------+-----+------+-------+-----+
|EmpName|EmpID|Salary|DepName|DepID|
+-------+-----+------+-------+-----+
|  Noori|    1| 40000|    EEE|    1|
| Suhana|    2| 35000|   null| null|
| Sindhu|    3| 35000|   null| null|
|   null| null|  null|    CSE|   11|
|   null| null|  null|    ECE|   13|
+-------+-----+------+-------+-----+

In [ ]:
empDF.join(depDF,empDF.EmpID==depDF.DepID,"fullouter").show()

+-------+-----+------+-------+-----+
|EmpName|EmpID|Salary|DepName|DepID|
+-------+-----+------+-------+-----+
|  Noori|    1| 40000|    EEE|    1|
| Suhana|    2| 35000|   null| null|
| Sindhu|    3| 35000|   null| null|
|   null| null|  null|    CSE|   11|
|   null| null|  null|    ECE|   13|
+-------+-----+------+-------+-----+

In [ ]:
empDF.distinct().count()

3

In [ ]:
empDF.join(depDF,empDF.EmpID==depDF.DepID,"left").show()

+-------+-----+------+-------+-----+
|EmpName|EmpID|Salary|DepName|DepID|
+-------+-----+------+-------+-----+
|  Noori|    1| 40000|    EEE|    1|
| Sindhu|    3| 35000|   null| null|
| Suhana|    2| 35000|   null| null|
+-------+-----+------+-------+-----+

In [ ]:
empDF.join(depDF,empDF.EmpID==depDF.DepID,"leftouter").show()

+-------+-----+------+-------+-----+
|EmpName|EmpID|Salary|DepName|DepID|
+-------+-----+------+-------+-----+
|  Noori|    1| 40000|    EEE|    1|
| Sindhu|    3| 35000|   null| null|
| Suhana|    2| 35000|   null| null|
+-------+-----+------+-------+-----+

In [ ]:
empDF.join(depDF,empDF.EmpID==depDF.DepID,"right").show()

+-------+-----+------+-------+-----+
|EmpName|EmpID|Salary|DepName|DepID|
+-------+-----+------+-------+-----+
|   null| null|  null|    CSE|   11|
|  Noori|    1| 40000|    EEE|    1|
|   null| null|  null|    ECE|   13|
+-------+-----+------+-------+-----+

In [ ]:
empDF.join(depDF,empDF.EmpID==depDF.DepID,"rightouter").show()

+-------+-----+------+-------+-----+
|EmpName|EmpID|Salary|DepName|DepID|
+-------+-----+------+-------+-----+
|   null| null|  null|    CSE|   11|
|  Noori|    1| 40000|    EEE|    1|
|   null| null|  null|    ECE|   13|
+-------+-----+------+-------+-----+

In [ ]:
empDF.join(depDF,empDF.EmpID==depDF.DepID,"leftsemi").show()

+-------+-----+------+
|EmpName|EmpID|Salary|
+-------+-----+------+
|  Noori|    1| 40000|
+-------+-----+------+

In [ ]:
empDF.join(depDF,empDF.EmpID==depDF.DepID,"leftanti").show()

+-------+-----+------+
|EmpName|EmpID|Salary|
+-------+-----+------+
| Sindhu|    3| 35000|
| Suhana|    2| 35000|
+-------+-----+------+

In [ ]:
empDF.join(depDF,[empDF.EmpID < depDF.DepID],"fullouter").show()

+-------+-----+------+-------+-----+
|EmpName|EmpID|Salary|DepName|DepID|
+-------+-----+------+-------+-----+
|  Noori|    1| 40000|    CSE|   11|
|  Noori|    1| 40000|    ECE|   13|
| Suhana|    2| 35000|    CSE|   11|
| Suhana|    2| 35000|    ECE|   13|
| Sindhu|    3| 35000|    CSE|   11|
| Sindhu|    3| 35000|    ECE|   13|
|   null| null|  null|    EEE|    1|
+-------+-----+------+-------+-----+

In [ ]:
empDF.join(depDF,[empDF.EmpID != depDF.DepID],"fullouter").show()

+-------+-----+------+-------+-----+
|EmpName|EmpID|Salary|DepName|DepID|
+-------+-----+------+-------+-----+
|  Noori|    1| 40000|    CSE|   11|
|  Noori|    1| 40000|    ECE|   13|
| Suhana|    2| 35000|    CSE|   11|
| Suhana|    2| 35000|    EEE|    1|
| Suhana|    2| 35000|    ECE|   13|
| Sindhu|    3| 35000|    CSE|   11|
| Sindhu|    3| 35000|    EEE|    1|
| Sindhu|    3| 35000|    ECE|   13|
+-------+-----+------+-------+-----+

In [ ]:
adddata=[(1,"chittoor"),(2,"Bangalore")]

In [ ]:
addcolumns=["id","city"]

In [ ]:
addDF=spark.createDataFrame(adddata,addcolumns)

In [ ]:
addDF.show()

+---+---------+
| id|     city|
+---+---------+
|  1| chittoor|
|  2|Bangalore|
+---+---------+

In [ ]:
df1=empDF.alias('df1')
df2=depDF.alias('df2')
df3=addDF.alias('df3')

In [ ]:
from pyspark.sql.functions import *
#df1.show()
#df2.show()
#df3.show()

In [ ]:
joindf=df1.join(df2,col('df1.branchid') == col('df2.branchid'),'left').join(df3,col('df1.EmpID') == col('df3.id'),'left').select('df1.*','df2.branchid','df3.city')

In [ ]:
joindf.show()

+-------+-----+------+--------+--------+---------+
|EmpName|EmpID|Salary|branchid|branchid|     city|
+-------+-----+------+--------+--------+---------+
|  Noori|    1| 40000|      21|      21| chittoor|
| Suhana|    2| 35000|      22|      22|Bangalore|
| Sindhu|    3| 35000|      23|    null|     null|
+-------+-----+------+--------+--------+---------+

In [ ]:
empDF.join(addDF,["id"]).join(depDF,empDF["branchid"] == depDF["branchid"]).show()

AnalysisException: ignored

In [ ]:
empDF.createOrReplaceTempView("emp")
depDF.createOrReplaceTempView("dep")
addDF.createOrReplaceTempView("add")

In [ ]:
def joinsDemo(df1,df2,jointype):
  if jointype == "inner":
    d_out=df1.join(df2,df1.branchid == df2.branchid,jointype)
  else:
    d_out=df1.join(df2,df1.branchid == df2.branchid,jointype)
  return d_out

In [ ]:
joinsDemo(empDF,depDF,"inner").show()

+-------+-----+------+--------+-------+-----+--------+
|EmpName|EmpID|Salary|branchid|DepName|DepID|branchid|
+-------+-----+------+--------+-------+-----+--------+
|  Noori|    1| 40000|      21|    ECE|   13|      21|
| Suhana|    2| 35000|      22|    CSE|   11|      22|
+-------+-----+------+--------+-------+-----+--------+

In [ ]:
joinsDemo(empDF,depDF,"full").show()

+-------+-----+------+--------+-------+-----+--------+
|EmpName|EmpID|Salary|branchid|DepName|DepID|branchid|
+-------+-----+------+--------+-------+-----+--------+
|  Noori|    1| 40000|      21|    ECE|   13|      21|
| Suhana|    2| 35000|      22|    CSE|   11|      22|
| Sindhu|    3| 35000|      23|   null| null|    null|
|   null| null|  null|    null|    EEE|    1|      25|
+-------+-----+------+--------+-------+-----+--------+