In [1]:
import findspark
findspark.init()

In [2]:
import pyspark
from pyspark.sql import *
from pyspark.sql.functions import *

In [3]:
spark=SparkSession.builder.appName('practice').getOrCreate()
df=spark.sql("select 'spark' as hello")
df.show()

+-----+
|hello|
+-----+
|spark|
+-----+

In [4]:
simpleData = [("James","Sales","NY",90000,34,10000),
    ("Michael","Sales","NY",86000,56,20000),
    ("Robert","Sales","CA",81000,30,23000),
    ("Maria","Finance","CA",90000,24,23000),
    ("Raman","Finance","CA",99000,40,24000),
    ("Scott","Finance","NY",83000,36,19000),
    ("Jen","Finance","NY",79000,53,15000),
    ("Jeff","Marketing","CA",80000,25,18000),
    ("Kumar","Marketing","NY",91000,50,21000)
  ]

schema = ["employee_name","department","state","salary","age","bonus"]
df = spark.createDataFrame(data=simpleData, schema = schema)
df.printSchema()
df.show(truncate=False)

root
 |-- employee_name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- state: string (nullable = true)
 |-- salary: long (nullable = true)
 |-- age: long (nullable = true)
 |-- bonus: long (nullable = true)

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|James        |Sales     |NY   |90000 |34 |10000|
|Michael      |Sales     |NY   |86000 |56 |20000|
|Robert       |Sales     |CA   |81000 |30 |23000|
|Maria        |Finance   |CA   |90000 |24 |23000|
|Raman        |Finance   |CA   |99000 |40 |24000|
|Scott        |Finance   |NY   |83000 |36 |19000|
|Jen          |Finance   |NY   |79000 |53 |15000|
|Jeff         |Marketing |CA   |80000 |25 |18000|
|Kumar        |Marketing |NY   |91000 |50 |21000|
+-------------+----------+-----+------+---+-----+

In [5]:
df.createOrReplaceTempView("df")

In [6]:
spark.sql("select * from df").show()

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|        James|     Sales|   NY| 90000| 34|10000|
|      Michael|     Sales|   NY| 86000| 56|20000|
|       Robert|     Sales|   CA| 81000| 30|23000|
|        Maria|   Finance|   CA| 90000| 24|23000|
|        Raman|   Finance|   CA| 99000| 40|24000|
|        Scott|   Finance|   NY| 83000| 36|19000|
|          Jen|   Finance|   NY| 79000| 53|15000|
|         Jeff| Marketing|   CA| 80000| 25|18000|
|        Kumar| Marketing|   NY| 91000| 50|21000|
+-------------+----------+-----+------+---+-----+

In [7]:
spark.sql("select * from df order by employee_name asc").show()

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|        James|     Sales|   NY| 90000| 34|10000|
|         Jeff| Marketing|   CA| 80000| 25|18000|
|          Jen|   Finance|   NY| 79000| 53|15000|
|        Kumar| Marketing|   NY| 91000| 50|21000|
|        Maria|   Finance|   CA| 90000| 24|23000|
|      Michael|     Sales|   NY| 86000| 56|20000|
|        Raman|   Finance|   CA| 99000| 40|24000|
|       Robert|     Sales|   CA| 81000| 30|23000|
|        Scott|   Finance|   NY| 83000| 36|19000|
+-------------+----------+-----+------+---+-----+

In [23]:
spark.sql("select employee_name,department from df group by department,employee_name ").show()

+-------------+----------+
|employee_name|department|
+-------------+----------+
|        James|     Sales|
|      Michael|     Sales|
|       Robert|     Sales|
|        Maria|   Finance|
|        Raman|   Finance|
|        Scott|   Finance|
|          Jen|   Finance|
|         Jeff| Marketing|
|        Kumar| Marketing|
+-------------+----------+

In [32]:
spark.sql("select count(employee_name)as count from df").show()

+-----+
|count|
+-----+
|    9|
+-----+

In [26]:
spark.sql("select count(employee_name) from df  where salary>80000").show()

+--------------------+
|count(employee_name)|
+--------------------+
|                   7|
+--------------------+

In [27]:
spark.sql("select avg(employee_name) from df").show()

+------------------+
|avg(employee_name)|
+------------------+
|              null|
+------------------+

In [7]:
spark.sql("select avg(salary) from df").show()

+-----------------+
|      avg(salary)|
+-----------------+
|86555.55555555556|
+-----------------+

In [33]:
spark.sql("select avg(salary) from df where department='Sales'").show()

+-----------------+
|      avg(salary)|
+-----------------+
|85666.66666666667|
+-----------------+

In [8]:
spark.sql("select sum(salary) from df where department='Sales'").show()

+-----------+
|sum(salary)|
+-----------+
|     257000|
+-----------+

In [32]:
spark.sql("create temp view df1 as select df.employee_name, df.salary from df").show()

++
||
++
++

In [20]:
spark. sql ("select employee_name,age,salary*3 as salary from df").show()

+-------------+---+------+
|employee_name|age|salary|
+-------------+---+------+
|        James| 34|270000|
|      Michael| 56|258000|
|       Robert| 30|243000|
|        Maria| 24|270000|
|        Raman| 40|297000|
|        Scott| 36|249000|
|          Jen| 53|237000|
|         Jeff| 25|240000|
|        Kumar| 50|273000|
+-------------+---+------+

In [24]:
spark.sql("drop view df_view1").show()

++
||
++
++

In [33]:
spark.sql("select * from df1").show()

+-------------+------+
|employee_name|salary|
+-------------+------+
|        James| 90000|
|      Michael| 86000|
|       Robert| 81000|
|        Maria| 90000|
|        Raman| 99000|
|        Scott| 83000|
|          Jen| 79000|
|         Jeff| 80000|
|        Kumar| 91000|
+-------------+------+

In [36]:
spark.sql("show views").show()

+---------+---------+-----------+
|namespace| viewName|isTemporary|
+---------+---------+-----------+
|         |       df|       true|
|         |      df1|       true|
|         | df_view9|       true|
|         |df_view99|       true|
+---------+---------+-----------+

In [12]:
spark=SparkSession.builder.appName('duplicate').getOrCreate()
emp=[("noori",25),
     ("sabeeha",22),
     ("noori",25)
    ]
empc=["names","age"]
empDF=spark.createDataFrame(emp,empc)
empDF.show()

+-------+---+
|  names|age|
+-------+---+
|  noori| 25|
|sabeeha| 22|
|  noori| 25|
+-------+---+

In [13]:
empDF.createOrReplaceTempView("empDF")

In [62]:
spark.sql("select DISTINCT names from empDF").show()

+-------+
|  names|
+-------+
|  noori|
|sabeeha|
+-------+

In [66]:
spark.sql("select * from df where employee_name like 'J%'").show()

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|        James|     Sales|   NY| 90000| 34|10000|
|          Jen|   Finance|   NY| 79000| 53|15000|
|         Jeff| Marketing|   CA| 80000| 25|18000|
+-------------+----------+-----+------+---+-----+

In [9]:
spark=SparkSession.builder.appName('duplicate').getOrCreate()
emp=[("noori",25),
     ("sabeeha",22),
     ("ammi",25)
    ]
empc=["name","age"]
empDF1=spark.createDataFrame(emp,empc)
empDF1.show()

+-------+---+
|   name|age|
+-------+---+
|  noori| 25|
|sabeeha| 22|
|   ammi| 25|
+-------+---+

In [10]:
empDF1.createOrReplaceTempView("empDF1")

In [14]:
spark.sql("select names from empDF join empDF1 on empDF.age==empDF1.age intersect select names from empDF full join empDF1 on empDF.age==empDF1.age ").show()

+-------+
|  names|
+-------+
|  noori|
|sabeeha|
+-------+

In [89]:
empDF.intersect(empDF1).show()

+-------+---+
|  names|age|
+-------+---+
|   ammi| 25|
|  noori| 25|
|sabeeha| 22|
+-------+---+

In [81]:
df.show()

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|        James|     Sales|   NY| 90000| 34|10000|
|      Michael|     Sales|   NY| 86000| 56|20000|
|       Robert|     Sales|   CA| 81000| 30|23000|
|        Maria|   Finance|   CA| 90000| 24|23000|
|        Raman|   Finance|   CA| 99000| 40|24000|
|        Scott|   Finance|   NY| 83000| 36|19000|
|          Jen|   Finance|   NY| 79000| 53|15000|
|         Jeff| Marketing|   CA| 80000| 25|18000|
|        Kumar| Marketing|   NY| 91000| 50|21000|
+-------------+----------+-----+------+---+-----+

In [26]:
df.select(col("salary").alias("bonus"),col("bonus").alias("salary")).show()

+-----+------+
|bonus|salary|
+-----+------+
|90000| 10000|
|86000| 20000|
|81000| 23000|
|90000| 23000|
|99000| 24000|
|83000| 19000|
|79000| 15000|
|80000| 18000|
|91000| 21000|
+-----+------+