In [ ]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 41 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 49.9 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=ae671e29113c26eb51e8ef5be927c92fd6822147b48f1d91f048ee15c616e660
  Stored in directory: /root/.cache/pip/wheels/42/59/f5/79a5bf931714dcd201b26025347785f087370a10a3329a899c
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [ ]:
from pyspark.sql.window import Window
from pyspark.sql import *

In [ ]:
import pyspark

In [ ]:
from pyspark.sql import *
spark=SparkSession.builder.appName('practise').getOrCreate()

In [ ]:
spark

In [ ]:
df_pyspark=spark.read.csv('/content/text1.csv')

In [ ]:
df_pyspark

DataFrame[_c0: string, _c1: string]

In [ ]:
df_pyspark.show()

+------+---+
|   _c0|_c1|
+------+---+
|  Name|Age|
|  Pavi| 21|
|Joshna| 23|
|Sindhu| 21|
|   Sri| 22|
|Suhana| 24|
| Aliya| 23|
+------+---+

In [ ]:
df_pyspark=spark.read.csv('/content/text1.csv',header=True,inferSchema=True)
df_pyspark.printSchema()
df_pyspark.show()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)

+------+---+
|  Name|Age|
+------+---+
|  Pavi| 21|
|Joshna| 23|
|Sindhu| 21|
|   Sri| 22|
|Suhana| 24|
| Aliya| 23|
+------+---+

In [ ]:
df_pyspark.columns

['Name', 'Age']

In [ ]:
df_pyspark.select(['age','name']).show()

+---+------+
|age|  name|
+---+------+
| 21|  Pavi|
| 21| Noori|
| 21|Joshna|
| 22|Sindhu|
| 22|Suhana|
+---+------+

In [ ]:
df_pyspark.select(['name']).show()

+------+
|  name|
+------+
|  Pavi|
|Joshna|
|Sindhu|
|   Sri|
|Suhana|
| Aliya|
+------+

In [ ]:
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int')]

In [ ]:
df_pyspark.describe().show()

+-------+------+------------------+
|summary|  Name|               Age|
+-------+------+------------------+
|  count|     5|                 5|
|   mean|  null|              21.4|
| stddev|  null|0.5477225575051661|
|    min|Joshna|                21|
|    max|Suhana|                22|
+-------+------+------------------+

In [ ]:
df_pyspark.withColumn('age after 2 years',df_pyspark['age']+2).show()

+------+---+-----------------+
|  Name|Age|age after 2 years|
+------+---+-----------------+
|  Pavi| 21|               23|
| Noori| 21|               23|
|Joshna| 21|               23|
|Sindhu| 22|               24|
|Suhana| 22|               24|
+------+---+-----------------+

In [ ]:
df_pyspark.drop('age after 2 years').show()

+------+---+
|  Name|Age|
+------+---+
|  Pavi| 21|
| Noori| 21|
|Joshna| 21|
|Sindhu| 22|
|Suhana| 22|
+------+---+

In [ ]:
df_pyspark.withColumnRenamed('Name','name').show()

+------+---+
|  name|Age|
+------+---+
|  Pavi| 21|
| Noori| 21|
|Joshna| 21|
|Sindhu| 22|
|Suhana| 22|
+------+---+

In [ ]:
df_pyspark.head(3)

[Row(Name='Pavi', Age=21),
 Row(Name='Noori', Age=21),
 Row(Name='Joshna', Age=21)]

In [ ]:
df_pyspark.withColumn('age2',df_pyspark['age']+2).show()

+------+---+----+
|  Name|Age|age2|
+------+---+----+
|  Pavi| 21|  23|
| Noori| 21|  23|
|Joshna| 21|  23|
|Sindhu| 22|  24|
|Suhana| 22|  24|
+------+---+----+

In [ ]:
df_pyspark.withColumn('total',df_pyspark.Age + df_pyspark.Age).show()

+------+---+-----+
|  Name|Age|total|
+------+---+-----+
|  Pavi| 21|   42|
| Noori| 21|   42|
|Joshna| 21|   42|
|Sindhu| 22|   44|
|Suhana| 22|   44|
+------+---+-----+

In [ ]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import col,sum,avg,max

spark = SparkSession.builder.appName('SparkByExamples').getOrCreate()

simpleData = [("James","Sales","NY",90000,34,10000),
    ("Michael","Sales","NY",86000,56,20000),
    ("Robert","Sales","CA",81000,30,23000),
    ("Maria","Finance","CA",90000,24,23000),
    ("Raman","Finance","CA",99000,40,24000),
    ("Scott","Finance","NY",83000,36,19000),
    ("Jen","Finance","NY",79000,53,15000),
    ("Jeff","Marketing","CA",80000,25,18000),
    ("Kumar","Marketing","NY",91000,50,21000)
  ]

schema = ["employee_name","department","state","salary","age","bonus"]
df = spark.createDataFrame(data=simpleData, schema = schema)
df.printSchema()
df.show(truncate=False)

root
 |-- employee_name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- state: string (nullable = true)
 |-- salary: long (nullable = true)
 |-- age: long (nullable = true)
 |-- bonus: long (nullable = true)

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|James        |Sales     |NY   |90000 |34 |10000|
|Michael      |Sales     |NY   |86000 |56 |20000|
|Robert       |Sales     |CA   |81000 |30 |23000|
|Maria        |Finance   |CA   |90000 |24 |23000|
|Raman        |Finance   |CA   |99000 |40 |24000|
|Scott        |Finance   |NY   |83000 |36 |19000|
|Jen          |Finance   |NY   |79000 |53 |15000|
|Jeff         |Marketing |CA   |80000 |25 |18000|
|Kumar        |Marketing |NY   |91000 |50 |21000|
+-------------+----------+-----+------+---+-----+

In [ ]:
df.groupBy("department").count().show()

+----------+-----+
|department|count|
+----------+-----+
|     Sales|    3|
|   Finance|    4|
| Marketing|    2|
+----------+-----+

In [ ]:
df.groupBy("department","state").max().show()

+----------+-----+-----------+--------+----------+
|department|state|max(salary)|max(age)|max(bonus)|
+----------+-----+-----------+--------+----------+
|     Sales|   CA|      81000|      30|     23000|
|   Finance|   CA|      99000|      40|     24000|
|     Sales|   NY|      90000|      56|     20000|
|   Finance|   NY|      83000|      53|     19000|
| Marketing|   NY|      91000|      50|     21000|
| Marketing|   CA|      80000|      25|     18000|
+----------+-----+-----------+--------+----------+

In [ ]:
df.groupBy("salary").count().show()

+------+-----+
|salary|count|
+------+-----+
| 81000|    1|
| 90000|    2|
| 86000|    1|
| 79000|    1|
| 99000|    1|
| 80000|    1|
| 91000|    1|
| 83000|    1|
+------+-----+

In [ ]:
df.groupBy("department").sum("salary").show()

+----------+-----------+
|department|sum(salary)|
+----------+-----------+
|     Sales|     257000|
|   Finance|     351000|
| Marketing|     171000|
+----------+-----------+

In [ ]:
df.groupBy("department","state").sum("salary","bonus").show()

+----------+-----+-----------+----------+
|department|state|sum(salary)|sum(bonus)|
+----------+-----+-----------+----------+
|     Sales|   CA|      81000|     23000|
|   Finance|   CA|     189000|     47000|
|     Sales|   NY|     176000|     30000|
|   Finance|   NY|     162000|     34000|
| Marketing|   NY|      91000|     21000|
| Marketing|   CA|      80000|     18000|
+----------+-----+-----------+----------+

In [ ]:
df.groupBy("department").agg(sum("salary").alias("sum_salary"),
                             avg("salary").alias("avg_salary")).show()

+----------+----------+-----------------+
|department|sum_salary|       avg_salary|
+----------+----------+-----------------+
|     Sales|    257000|85666.66666666667|
|   Finance|    351000|          87750.0|
| Marketing|    171000|          85500.0|
+----------+----------+-----------------+

In [ ]:
df.groupBy("department").agg(sum("salary").alias("sum_salary"),
                             avg("salary").alias("avg_salary"))\
                             .where(col("sum_salary")>200000).show()

+----------+----------+-----------------+
|department|sum_salary|       avg_salary|
+----------+----------+-----------------+
|     Sales|    257000|85666.66666666667|
|   Finance|    351000|          87750.0|
+----------+----------+-----------------+

In [ ]:
df.sort("department").show()

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|        Raman|   Finance|   CA| 99000| 40|24000|
|          Jen|   Finance|   NY| 79000| 53|15000|
|        Scott|   Finance|   NY| 83000| 36|19000|
|        Maria|   Finance|   CA| 90000| 24|23000|
|        Kumar| Marketing|   NY| 91000| 50|21000|
|         Jeff| Marketing|   CA| 80000| 25|18000|
|        James|     Sales|   NY| 90000| 34|10000|
|      Michael|     Sales|   NY| 86000| 56|20000|
|       Robert|     Sales|   CA| 81000| 30|23000|
+-------------+----------+-----+------+---+-----+

In [ ]:
df.sort(col("department"),col("state")).show()

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|        Raman|   Finance|   CA| 99000| 40|24000|
|        Maria|   Finance|   CA| 90000| 24|23000|
|        Scott|   Finance|   NY| 83000| 36|19000|
|          Jen|   Finance|   NY| 79000| 53|15000|
|         Jeff| Marketing|   CA| 80000| 25|18000|
|        Kumar| Marketing|   NY| 91000| 50|21000|
|       Robert|     Sales|   CA| 81000| 30|23000|
|        James|     Sales|   NY| 90000| 34|10000|
|      Michael|     Sales|   NY| 86000| 56|20000|
+-------------+----------+-----+------+---+-----+

In [ ]:
df.sort("department","state").show()

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|        Raman|   Finance|   CA| 99000| 40|24000|
|        Maria|   Finance|   CA| 90000| 24|23000|
|        Scott|   Finance|   NY| 83000| 36|19000|
|          Jen|   Finance|   NY| 79000| 53|15000|
|         Jeff| Marketing|   CA| 80000| 25|18000|
|        Kumar| Marketing|   NY| 91000| 50|21000|
|       Robert|     Sales|   CA| 81000| 30|23000|
|        James|     Sales|   NY| 90000| 34|10000|
|      Michael|     Sales|   NY| 86000| 56|20000|
+-------------+----------+-----+------+---+-----+

In [ ]:
from pyspark.sql.functions import desc
df.orderBy(desc("employee_name")).show()

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|        Scott|   Finance|   NY| 83000| 36|19000|
|       Robert|     Sales|   CA| 81000| 30|23000|
|        Raman|   Finance|   CA| 99000| 40|24000|
|      Michael|     Sales|   NY| 86000| 56|20000|
|        Maria|   Finance|   CA| 90000| 24|23000|
|        Kumar| Marketing|   NY| 91000| 50|21000|
|          Jen|   Finance|   NY| 79000| 53|15000|
|         Jeff| Marketing|   CA| 80000| 25|18000|
|        James|     Sales|   NY| 90000| 34|10000|
+-------------+----------+-----+------+---+-----+

In [ ]:
df1=df.sort(df.salary.desc()).show()

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|        Raman|   Finance|   CA| 99000| 40|24000|
|        Kumar| Marketing|   NY| 91000| 50|21000|
|        James|     Sales|   NY| 90000| 34|10000|
|        Maria|   Finance|   CA| 90000| 24|23000|
|      Michael|     Sales|   NY| 86000| 56|20000|
|        Scott|   Finance|   NY| 83000| 36|19000|
|       Robert|     Sales|   CA| 81000| 30|23000|
|         Jeff| Marketing|   CA| 80000| 25|18000|
|          Jen|   Finance|   NY| 79000| 53|15000|
+-------------+----------+-----+------+---+-----+

In [ ]:
df.show()

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|        James|     Sales|   NY| 90000| 34|10000|
|      Michael|     Sales|   NY| 86000| 56|20000|
|       Robert|     Sales|   CA| 81000| 30|23000|
|        Maria|   Finance|   CA| 90000| 24|23000|
|        Raman|   Finance|   CA| 99000| 40|24000|
|        Scott|   Finance|   NY| 83000| 36|19000|
|          Jen|   Finance|   NY| 79000| 53|15000|
|         Jeff| Marketing|   CA| 80000| 25|18000|
|        Kumar| Marketing|   NY| 91000| 50|21000|
+-------------+----------+-----+------+---+-----+

In [ ]:
df.show(2,truncate=3)

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|          Jam|       Sal|   NY|   900| 34|  100|
|          Mic|       Sal|   NY|   860| 56|  200|
+-------------+----------+-----+------+---+-----+
only showing top 2 rows

In [ ]:
df.show(truncate=2)

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|           Ja|        Sa|   NY|    90| 34|   10|
|           Mi|        Sa|   NY|    86| 56|   20|
|           Ro|        Sa|   CA|    81| 30|   23|
|           Ma|        Fi|   CA|    90| 24|   23|
|           Ra|        Fi|   CA|    99| 40|   24|
|           Sc|        Fi|   NY|    83| 36|   19|
|           Je|        Fi|   NY|    79| 53|   15|
|           Je|        Ma|   CA|    80| 25|   18|
|           Ku|        Ma|   NY|    91| 50|   21|
+-------------+----------+-----+------+---+-----+

In [ ]:
import pyspark
from pyspark.sql import SparkSession 
from pyspark.sql.functions import col, substring
spark=SparkSession.builder.appName("stringoperations").getOrCreate()
data = [["1","20200828"],["2","20180525"]]
columns=["id","date"]
df=spark.createDataFrame(data,columns)
df.show()
#df.withColumn('year', substring('date', 1,4)).withColumn('month', substring('date', 5,2)).withColumn('day', substring('date', 7,2)).show()
#df.printSchema()

+---+--------+
| id|    date|
+---+--------+
|  1|20200828|
|  2|20180525|
+---+--------+

In [ ]:
df1=df.select('date',substring('date',1,4).alias("year"),substring('date',5,7).alias("month"),substring('date',7,9).alias("day"))
df1.printSchema()
df1.show()

root
 |-- date: string (nullable = true)
 |-- year: string (nullable = true)
 |-- month: string (nullable = true)
 |-- day: string (nullable = true)

+--------+----+-----+---+
|    date|year|month|day|
+--------+----+-----+---+
|20200828|2020| 0828| 28|
|20180525|2018| 0525| 25|
+--------+----+-----+---+

In [ ]:
from pyspark.sql.types import *
data = [
    (("James","","Smith"),["Java","Scala","C++"],"OH","M"),
    (("Anna","Rose",""),["Spark","Java","C++"],"NY","F"),
    (("Julia","","Williams"),["CSharp","VB"],"OH","F"),
    (("Maria","Anne","Jones"),["CSharp","VB"],"NY","M"),
    (("Jen","Mary","Brown"),["CSharp","VB"],"NY","M"),
    (("Mike","Mary","Williams"),["Python","VB"],"OH","M")
 ]
        
schema = StructType([
     StructField('name', StructType([
        StructField('firstname', StringType(), True),
        StructField('middlename', StringType(), True),
         StructField('lastname', StringType(), True)
     ])),
     StructField('languages', ArrayType(StringType()), True),
     StructField('state', StringType(), True),
     StructField('gender', StringType(), True)
 ])

df = spark.createDataFrame(data = data, schema = schema)
df.printSchema()
df.show(truncate=False)

root
 |-- name: struct (nullable = true)
 |    |-- firstname: string (nullable = true)
 |    |-- middlename: string (nullable = true)
 |    |-- lastname: string (nullable = true)
 |-- languages: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- state: string (nullable = true)
 |-- gender: string (nullable = true)

+----------------------+------------------+-----+------+
|name                  |languages         |state|gender|
+----------------------+------------------+-----+------+
|{James, , Smith}      |[Java, Scala, C++]|OH   |M     |
|{Anna, Rose, }        |[Spark, Java, C++]|NY   |F     |
|{Julia, , Williams}   |[CSharp, VB]      |OH   |F     |
|{Maria, Anne, Jones}  |[CSharp, VB]      |NY   |M     |
|{Jen, Mary, Brown}    |[CSharp, VB]      |NY   |M     |
|{Mike, Mary, Williams}|[Python, VB]      |OH   |M     |
+----------------------+------------------+-----+------+

In [ ]:
df.filter(df.state == "NY").show(truncate=False)

+--------------------+------------------+-----+------+
|name                |languages         |state|gender|
+--------------------+------------------+-----+------+
|{Anna, Rose, }      |[Spark, Java, C++]|NY   |F     |
|{Maria, Anne, Jones}|[CSharp, VB]      |NY   |M     |
|{Jen, Mary, Brown}  |[CSharp, VB]      |NY   |M     |
+--------------------+------------------+-----+------+

In [ ]:
df.filter("state == 'NY'").show(truncate=False)

+--------------------+------------------+-----+------+
|name                |languages         |state|gender|
+--------------------+------------------+-----+------+
|{Anna, Rose, }      |[Spark, Java, C++]|NY   |F     |
|{Maria, Anne, Jones}|[CSharp, VB]      |NY   |M     |
|{Jen, Mary, Brown}  |[CSharp, VB]      |NY   |M     |
+--------------------+------------------+-----+------+

In [ ]:
df.filter("gender == 'F'").show()

+-------------------+------------------+-----+------+
|               name|         languages|state|gender|
+-------------------+------------------+-----+------+
|     {Anna, Rose, }|[Spark, Java, C++]|   NY|     F|
|{Julia, , Williams}|      [CSharp, VB]|   OH|     F|
+-------------------+------------------+-----+------+

In [ ]:
df.filter((df.state == "OH")& (df.gender == "F")).show(truncate=False)

+-------------------+------------+-----+------+
|name               |languages   |state|gender|
+-------------------+------------+-----+------+
|{Julia, , Williams}|[CSharp, VB]|OH   |F     |
+-------------------+------------+-----+------+

In [ ]:
data=[("suhana","","khan")]
schema = StructType([
    StructField('firstname', StringType(), True),
    StructField('middlename', StringType(), True),
    StructField('lastname', StringType(), True)
    ])

In [ ]:
df = spark.createDataFrame(data = data, schema = schema)
df.printSchema()
df.show(truncate=False)

root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)

+---------+----------+--------+
|firstname|middlename|lastname|
+---------+----------+--------+
|suhana   |          |khan    |
+---------+----------+--------+